*{
	margin:0;
}

html { 
	background: url(../image/fondsf.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background-color: transparent!important;
}

section.paragraphe {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: center;
	justify-content: space-evenly;
}

body *:not(#futuristic_cover){
	z-index: 1;
}

h1.titre {
	font-size: 30px;
}

nav{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.861);
	height: fit-content;
	color: #EEE;
	font-family: cyberpunk-font;
	text-transform: uppercase;
	position: absolute;
	right: 0px;
	top: 0px;
}
nav>ul{
	list-style-type: none; /*Pour se débarrasser des puces*/
	padding: 0;
	margin: 0;
	height: fit-content!important;
    display: block;
}
nav ul li{
	border: 0px solid black;
	width: 100px;
	/* height: 30px; */
	line-height: 30px; /*Pour centrer verticalement line-height (hauteur de ligne) doit avoir la même valeur que height (hauteur)*/
	text-align: center;

}
nav>ul>li>a{
	display: block;

	text-decoration: none; /*Pour enlever le soulignement de l'hyperlien*/
	transition: .3s;
	font-weight: 800;
	font-size: 17px;
	padding: 20px;
}
nav ul li ul{
	display: none;
}
nav ul li:hover ul{
	display: block;
}
	nav ul li a:hover {
		color: #ffffff;
	}
.paragraphe {
	width: 90%;
	border: 0px solid grey;
	border-radius: 7px;
	padding: 40px;
	margin: 80px auto 0px auto;
	box-shadow: 5px 5px 5px #0000007d;
	background-color: #000000cf;
	color: white;
	font-family: 'cyberpunk-font';
	font-size: 18px;
	max-width: 60%;
	backdrop-filter: blur(2px);
}
